*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}
button{
    width: auto;
    background-color: hsl(rgb(235, 149, 110), saturation, lightness);
    

}
.container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    font-size: 1em;
}
label{
    background-color: black;
    color: lightgreen;
}
h1{
   text-align: center;
   margin-top: 20px;
   
}

#yourdata{
    width:30vw;
    height:23vh;
    background-color:azure;
    display: flex;
    overflow: auto;
    font-size: 0.8em;
    justify-content: center;
    background-image: url(https://img1.picmix.com/output/stamp/thumb/9/7/0/4/2604079_2bca4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: absolute;  
    left: 13vw; 
    border: 2px solid black;
    top: 26%;
    padding: 6px;

}
#img{
    
    width: 31vw;
    margin-left:50vw;
    height: 23vh;
    top: 26%;
    position: absolute;
    
    
    
    
    
    
    
    
    
}
#image1{
    position: relative;
    
    
}
#image2{
    position: relative;
    

}
